<p id="notice"><%= notice %></p>

<h4 class="ui top attached block header">Listing Lawsuits</h1>
<div class="ui bottom attached segment">
<table id="lawsuits-datatable" class="ui celled striped table dataTable" data-source="<%= lawsuits_path(format: :json) %>">
  <thead>
    <tr>
      <th>Autos</th>
      <th>Vara</th>
      <th>Lawyer</th>
      <th>Fees</th>
      <th>Conciliation date</th>
      <th>Instruction date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>


<br>

<%= link_to 'New Lawsuit', new_lawsuit_path %>
