<div class="nested-fields fields">
  <div class="three wide field">
    <%= f.text_field :number, placeholder: "Telefone" %>
  </div>
  
  <%= link_to_remove_association f, class:"ui icon button" do %>
  <i class="delete icon"></i>
  <% end %>
</div>