<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @marital_status.description %>
</p>

<%= link_to 'Edit', edit_dashboard_marital_status_path(@marital_status) %> |
<%= link_to 'Back', dashboard_marital_statuses_path %>
