<h3>Dashboard</h3>
<div class="ui grid">
  <!-- FIRST COLUMN-->
  <div class="four wide column">
    <div class="ui red raised segment">
      <div class="ui header">
        <i class="settings icon"></i>
        <div class="content">
          <div class="sub header">Total de Ações</div>
          31
        </div>
      </div>
    </div>
  </div>
  <!-- SECOND COLUMN-->
  <div class="four wide column">
    <div class="ui red raised segment">
      <div class="ui header">
        <i class="settings icon"></i>
        <div class="content">
          <div class="sub header">Audiências no Mês</div>
          15
        </div>
      </div>
    </div>
  </div>
  <!-- THIRD COLUMN-->
  <div class="four wide column">
    <div class="ui red raised segment">
      <div class="ui header">
        <i class="settings icon"></i>
        <div class="content">
          <div class="sub header">Audiências na Semana</div>
          10
        </div>
      </div>
    </div>
  </div>
  <!-- FOURTH COLUMN-->
  <div class="four wide column">
    <div class="ui red raised segment">
      <div class="ui header">
        <i class="settings icon"></i>
        <div class="content">
          <div class="sub header">Audiências no Dia</div>
          02
        </div>
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <div class="ui raised segments">
      <div class="ui segment">
        <h4>Calendário</h4>
      </div>
      <div class="ui segment">
        <div id="events_calendar">
          <%= render partial: 'calendar', locals: {lawsuits: @lawsuits}%>
        </div>
      </div>
      <div class="ui segment">
      </div>
    </div>
  </div>
</div>
