<div class="ui container">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <%= render partial: "site/shared/menuItems" %>
    <div class="right item">
      <%= link_to "Log in", dashboard_path, class: "ui inverted button" %>
    </div>
  </div>
</div>