<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden">
  <div class="ui container">
    <%= render partial: "site/shared/menuItems" %>
    <div class="right menu">
      <div class="item">
        <%= link_to "Log in", dashboard_path, class: "ui button" %>
      </div>
    </div>
  </div>
</div>