/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic
 *= require_self
 */

 #bb-growl {
  position: fixed;
  bottom: 25%;
  right: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  padding: 1em 1.3em;
  z-index: 2000;
} 
#bb-growl-1 {
  position: fixed;
  bottom: 25%;
  right: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  padding: 1em 1.3em;
  z-index: 2000;
}
.alert-info {
  color: #4c3973;
  background-color: #e9e2f8;
  border-color: #e0d6f6;
}
.alert {
  border-width: 0;
  border-left-width: 4px;
  border-radius: 0;
}  
 